<div class="col-md-10 col-sm-12">
    <div class="card slide-in-left-right-animation">
        <h5 class="card-header">
            Registrar Materia
        </h5>
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                    <li class="breadcrumb-item"><a routerLink="/materia" routerLinkActive="active">Materia</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-item active" aria-current="page">Registrar Materia</a></li>
                </ol>
            </nav>
            <app-materia-form></app-materia-form>
        </div>
        <div class="card-footer text-muted">
            Fecha: 27/05/2023 
        </div>
    </div>
</div>