<div class="col-md-10 col-sm-12">
    <div class="card slide-in-right-left-animation">
        <h5 class="card-header">
            Alumnos
        </h5>
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-item active" aria-current="page">Alumno</a></li>
                </ol>
            </nav>
            <app-alumno-table></app-alumno-table>
        </div>
        <div class="card-footer text-muted">
            Fecha: 27/05/2023
        </div>
    </div>
</div>