<div class="col-md-10 col-sm-12">
    <div class="card slide-in-left-right-animation">
        <h5 class="card-header">
            Registrar alumno
        </h5>
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                    <li class="breadcrumb-item"><a routerLink="/alumno" routerLinkActive="active">Alumno</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-item active" aria-current="page">Modificar Alumno</a></li>
                </ol>
            </nav>
            <app-alumno-form [id]="idalumno?idalumno:undefined"></app-alumno-form>
        </div>
        <div class="card-footer text-muted">
            Fecha: 27/05/2023 
        </div>
    </div>
</div>