<form class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <label for="exampleInputEmail1" class="form-label">Materia</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text text-danger">Nunca compartiremos su correo electrónico con nadie más.</div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" routerLink="/materia">Regresar</a>
        <button type="submit" class="btn btn-primary ml-3">Guardar</button>
    </div>

</form>