<div class="card mt-5">
    <div class="card-header">
        <div class="card-title">Cambio de calificación</div>
    </div>
    <div class="card-body">
        <form>
            <fieldset>
                <div class="mb-3">
                    <label for="txtCalificacion" class="form-label">Calificación</label>
                    <input type="text" id="txtCalificacion" class="form-control" placeholder="Calificación">
                </div>
                <button type="button" class="btn btn-primary">Guardar</button>
            </fieldset>
        </form>
    </div>
</div>