<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/assets/css/bk-main.css"/>
</head>

<body>
  <app-menu-header></app-menu-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-3">
<!-- <app-side-sub-menu></app-side-sub-menu> -->        
      </div>
      <div class="col-md-10 col-sm-9">
        <router-outlet></router-outlet>
      </div>  
    </div>
  </div>
</body>
</html>